<% if @output == (:pdf or :html) %>
<div class="toc" id="toc-h-1">
  <h1>Table of Contents</h1>


</div>
  
<% else %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Table of Contents</title>
</head>
<body>
<div class="toc" id="toc-h-1">
  <h1>Table of Contents</h1>


</div>
</body>
</html>

<% end %>